  <div class="course-card" *ngIf="course" #container>

    <div class="course-title">
      {{ cardIndex || '' + ' '}}  {{ course.description }}
    </div>

    <!-- Target the course-image component rather than the class .course-image -->
    <ng-content select="course-image"></ng-content>

    <ng-content select=".course-description"></ng-content>

    <div class="course-category" [ngSwitch]="course.category">
      <div class="category" *ngSwitchCase="'BEGINNER'" >Beginner</div>
      <div class="category" *ngSwitchCase="'INTERMEDIATE'" >Intermediate</div>
      <div class="category" *ngSwitchCase="'ADVANCED'" >Advanced</div>
      <div class="category" *ngSwitchDefault>All Levels</div>
    </div>
    
    <button (click)="onCourseViewed()">View Course</button>

  </div>
