@if (course) {
  <div class="course-card" #container>
    <div class="course-title">
      {{ cardIndex || '' + ' ' + course.description }}
    </div>
    @if (course.iconUrl) {
      <ng-content select="course-image"
      ></ng-content>
    }
    <div class="course-description">
      <!--the default change detection mechanism scans the whole component tree for changes, which is usually ok for small applications but can be inefficient for large applications.  The alternative is onPush change detection. -->
      Edit Title: <input #courseTitle [value]="course.description" (keyup)="onTitleChanged(courseTitle.value)">
    </div>
    <div class="course-category">
      @switch (course.category) {
        @case ('BEGINNER') {
          <div class="category">Beginner</div>
        }
        @case ('INTERMEDIATE') {
          <div class="category">Intermediate</div>
        }
        @case ('ADVANCED') {
          <div class="category">Advanced</div>
        }
      }
    </div>
    <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
  </div>
}





