<div class="top-menu">

  <img class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
  </div>

  <div class="demo">
    <!-- if not using onPush, change detection on the child component work -->
    <button (click)="onEditCourse()">Edit Course</button>
  </div>

  <div>

    <!-- // async pipe subscribes to the observable and returns the latest value it has emitted. When a new value is emitted, the async pipe marks the component to be checked for changes.
    // The async pipe also unsubscribes automatically when the component is destroyed, preventing potential memory leaks. -->
    <div class="courses">
      @for (course of courses; track course) {
        <course-card
        (courseChanged)="save($event)"
          [course]="course">
        <course-image [src]="course.iconUrl"></course-image>
      </course-card>
    }

  </div>

</div>