<div class="top-menu"><img class="logo"src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"></div>


<div class="courses" *ngIf="courses[0] as course">

  <!-- This template needs variables scoped to the parent component, so we can use the course variable here, but not in the child component. The let is evaluated from the outlet context -->
  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} - Has no Image Available</p>
    <img src="/assets/empty-image.png" width="300">
  </ng-template>
  
  <div *ngTemplateOutlet="blankImage; context: { description: course.description }"></div>
  
  <!-- Another template outlet with a different context, this time using the second course in the list. This is just to show that we can use different contexts for different outlets. -->
  <ng-container *ngTemplateOutlet="blankImage; context: { description: courses[1].description }"></ng-container>

  <course-card 
    (courseSelected)="onCourseSelected($event)"
    [course]="course">

    <course-image [src]="course.iconUrl" *ngIf="course.iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>

  </course-card>

</div>